<article class="media">
<% if post.vouched_by? current_user %>
<% else %>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Display notes on why you can vouch for this"></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a class="button is-info">Vouch</a>
        </div>
      </div>
    </nav>
  </div>
<% end %>
</article>
