<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  </head>
  <body>
    <div class="container is-max-tablet">
      <%= yield %>
    </div>
  </body>
</html>